// body, html, #root {
//     height: 100vh;
// }
.MainEntry {
    height: 100vh;
    &_header_image {
        height: 200px;
        display: flex;
        justify-content: center;
        // background: blue;
    }
    &_container {
        margin: auto;
        max-width: 600px;
        width: 90%;
        padding: 40px 20px;
        min-height: 100vh;
        &_title {
            font-size: 200%;
            margin-bottom: 70px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
    }
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:100px;
	background-color: #A07DBF;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	position: relative;
}

.float_div {
    position: absolute;
                width: fit-content;
                height: fit-content;
                font-size: 150%;
                top: 14%;
                left: 22%;
                // transform: translate(-50%, -50%);
                &_container{
                    position: relative;
                    &_icon{
                        position: absolute;
                        transition: transform .25s;
                        opacity: 1;
                        cursor: pointer;
                        font-size: 1.7em;
                        font-family: serif;
                        line-height: 1;
                        background: none;
                    }
                    &_icon:before{
                        content: "+";
                    }
                    &_icon_close{
                        opacity: 1;
	                    transform: rotate(45deg);
                    }
                }

}

.float_div_open {
      transform: translate(-50%, -40%) rotate(90deg);

}