
.storyCard {
    display: flex;
    &_left{
        &_img-container {
            margin: 0 10px 0 0;
            height: 50px;
            width: 50px;
            background: #D6A7FF;
            border-radius: 50%;
            position: relative;
            &_char{
                position: absolute;
                width: fit-content;
                height: fit-content;
                font-size: 200%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &_right{
        flex-grow: 1;
        &_title {
            // margin-top: 4px;
            padding: 7px 2px 7px 2px;
            font-weight: 600;
        }
        &_time {
            padding: 0 2px;
            color: darkgrey;
            font-size: .8em;
            font-weight: 500;
            background: none;
        }
        &_field {
            display: flex;
            justify-content: space-between;
            &_email {
                margin-bottom: 5px;
                color: blue;
                font-weight: 500;
                font-size: .8em;
            }
        }
        &_container {
            border-radius: 5px;
            padding: 20px 15px;
            font-size: .9em;
            background: rgba($color: #D0D9F2, $alpha: .4);
        }
    }
}

.solid_divider{
    margin: 20px 0;
    height: 1px;
    background: darkgrey;
}