@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Baloo|Mitr|Roboto|Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Roboto', sans-serif;
}
a {
    color: #fff;
    text-decoration: none;
}

/* a:hover 
{
     color: red; 
     text-decoration:none; 
     cursor:pointer;  
} */
.container {
     width: 60%;
    height: fit-content;
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

 .card-form {
    width: 100%;
    max-width: 405px;
    height: 650px;
    margin: auto;
    background: white;
}
.logo {
    background: #F2F2F2;
    border-radius: 15em;
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 40px;
    position: relative;
    
}
.logo_text{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
        font-weight: 600;
        font-size: 1.2em;
    }
.card-item {
    position: relative;
}
.card-form {
    /* background: #2E3D51; */
    border-radius: 4px;
    border: .7px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.92);
    position: relative;
}
.signin-card-form{
border: .7px solid rgb(245, 244, 244);
}
a:hover {
    cursor: pointer;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    padding-top: 30px;
}

.slide.signIn {
    display: block;
}
.slide input {
    width: 100%;
    padding: 10px 4px;
    border-width: 0;
    border-bottom: 1px solid #5C73F2;
    color: black;
    box-sizing: border-box;
}
input:focus {
    outline: none;
    border-bottom: 1px solid #0029FA;
}

input::-webkit-input-placeholder {
     color: black;
     opacity: .8;
}
input{
    margin-bottom: 20px;
}
input:last-child{
    margin-bottom: 40px;
}
.fields {
    width: 80%;
    margin: auto;
    border-radius: 4px;
    overflow: hidden; 
}
.bro {
    display: block;
}
#signin, #signup {
    display: none;
    width: 100%;
    height: 100%;
}
#signin {
    display: block;
}


.card-item-content {
    position: absolute;
    height: fit-content;
    width: 70%;
    bottom: 5%;
    left: 50%;
    text-align: center;
      transform: translate(-50%, -50%);
      padding: 30px 30px;
      font-size: 18px;
      box-shadow:none;
      background: #0029FA;
      color: #fff;
      border: 1px solid white;
      border-radius: 5px;
}
.card-item-content:hover {
     
    cursor: pointer;
}

.forget {
    font-size: .8em;
    text-align: center;
}
.back-to-login {
    margin-left: 20px;
    text-align: left;
}
p.forget a{
    color: #0029FA;

}

.submit{
    /* display: flex; */
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding: 10px 30px;
  color: #fff;
  border-width: 0;
  border-style: groove;
  background: #A07DBF;
  position: relative;
  width: fit-content;
  border-radius: 30px;
}
.submit_text{
    margin: 0px 10px 8px 2px;
    text-align: start;
    background: none;
}
.submit_icon{
    /* background: red; */
    transform: translateY(2px);
}
.signInInputs{
    margin-top: 3%;
}

.submit:hover {
    cursor: pointer;
}
#title {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 40px;
    margin-bottom: 60px;
}
.welcome {
    font-size: 200%;
    font-family: 'Manjari', sans-serif;
    font-weight: 700;
}
.welcome-info {
    text-align: center;
    color: #000;
    /* padding: 20px; */
}
.note {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7em;
    padding: 10px 20px;

}
span {
    background: #0029FA;
    color: #fff;

}

@media only screen and (max-width: 1013px) {
    body {
        background: #fff;
        
    }
    .welcome-info {
    text-align: center;
    color: #000;
}
.welcome-info .note {
    display: none;
}
    .card {
        flex-direction: column;
        width: 99%;
        max-width: 360px;
        margin: auto;
        
    }
    .card-item,.card-form {
        width: 100%;
    }
    .card-item {
        height: fit-content;
        background: none;
    }
    .card-item-content {
        width: fit-content;
        position: relative;
    height: fit-content;
    top: 0;
    left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      box-shadow:none;
      padding: 10px 30px;
      
      background:  #0029FA;
      color: #fff;
    }
    .container {
        margin-top: 200px;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .card-item-content:hover {
        background:  #0029FA;   
        box-sizing: content-box;
    }
    #signin,#signup {
        color: #fff;
    }
  
}